body{
    width: 100%;
    background-color:lightcyan;
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#btn{
    background-color: chocolate;
    border-radius: 5px;
    margin-top: 1em;
    
}